#HiddenColor {
  position: fixed; /* Add position:relative to create a stacking context */
  height: 100vh;
  overflow: hidden;
}

#newColor {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; /* Increase the z-index value to bring the button to the front */
}

#NewColorText {
  color: white;
  margin-top: 350px;
  vertical-align: middle;
  position: relative; /* Add position:relative to create a stacking context */
  z-index: 2; /* Increase the z-index value to bring the text above the button */
}

#Scenery {
  position: relative; /* Add position:relative to create a stacking context */
  width: 100%;
  margin-top: -100px;
  z-index: 0; /* Set a lower z-index value to keep the scenery behind the text */
}

#ChangeScenery {
  position: fixed;
  display: block;
  margin-top: -680px;
  margin-left: 630px;
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#ChangeScenery {
  position: fixed;
  display: block;
  margin-top: -680px;
  margin-left: 610px;
  padding: 10px 20px;
  appearance: button;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #482307;
  column-gap: 1rem;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 100%;
  font-weight: 700;
  line-height: 24px;
  outline: 2px solid transparent;
  text-align: center;
  text-transform: none;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

#ChangeScenery:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
  transform: translateY(0.125rem);
}

#ChangeScenery:focus {
  box-shadow: rgba(72, 35, 7, 0.46) 0 0 0 4px, -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

#FlexBucket {
  position: fixed;
  display: flex;
  margin-top: -300px;
  margin-left: 70px;
  margin-right: auto;
}

#flexBucketText1 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: fixed;
  display: grid;
  grid-template-columns: auto 170px 340px auto;
  column-gap: 200px;
  margin-top: 50px;
  margin-left: 180px;
  margin-right: auto;
}

#flexBucketText2 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: fixed;
  display: grid;
  grid-template-columns: auto 430px auto;
  column-gap: 100px;
  margin-top: 50px;
  margin-left: 190px;
  margin-right: auto;
}

#flexBucketText3 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: fixed;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 305px;
  margin-top: 50px;
  margin-left: 180px;
  margin-right: auto;
}

#flexBucketText4 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: fixed;
  display: grid;
  grid-template-columns: auto auto 180px auto;
  column-gap: 300px;
  margin-top: 50px;
  margin-left: 220px;
  margin-right: auto;
}

#flexBucketText5 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: fixed;
  display: grid;
  grid-template-columns: auto 550px 0px;
  column-gap: 95px;
  margin-top: 50px;
  margin-left: 220px;
  margin-right: auto;
}

#NewColorBucket {
  width: 400px;
  height: auto;
}
