#HiddenColor {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}

:root {
  --scenery-margin-left: 720px;
  --scenery-margin-left-mobile: 500px;
}

#newColor {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

#NewColorText {
  color: white;
  margin-top: 350px;
  vertical-align: middle;
  position: relative;
  z-index: 2;
}

#Scenery {
  position: relative;
  width: 100%;
  margin-top: -100px;
  z-index: 0;
}

#ChangeScenery {
  position: fixed;
  margin-top: 600px;
  margin-left: var(--scenery-margin-left);
  padding: 10px 20px;
  appearance: button;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #482307;
  column-gap: 1rem;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 100%;
  font-weight: 700;
  line-height: 24px;
  outline: 2px solid transparent;
  text-transform: none;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

#ChangeScenery:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
  transform: translateY(0.125rem);
}

#ChangeScenery:focus {
  box-shadow: rgba(72, 35, 7, 0.46) 0 0 0 4px, -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

#FlexBucket {
  position: fixed;
  bottom: 250px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: -100px;
}



#flexBucketText1 {
  position: fixed;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  position: fixed;
  display: grid;
  grid-template-columns: auto 240px 160px 200px;
  column-gap: 200px;
  margin-top: 50px;
  margin-left: 280px;
  margin-right: auto;
}

#flexBucketText2 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: fixed;
  display: grid;
  grid-template-columns: auto 430px 180px;
  column-gap: 100px;
  margin-top: 50px;
  margin-left: 280px;
  margin-right: auto;
}

#flexBucketText3 {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  position: fixed;
  display: grid;
  grid-template-columns: 100px 70px auto;
  column-gap: 305px;
  margin-top: 50px;
  margin-left: 320px;
  margin-right: auto;
}

#flexBucketText4 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: fixed;
  display: grid;
  grid-template-columns: 120px 90px 120px auto;
  column-gap: 300px;
  margin-top: 50px;
  margin-left: 300px;
  margin-right: auto;
}

#flexBucketText5 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  position: fixed;
  display: grid;
  grid-template-columns: auto 540px 0px;
  column-gap: 95px;
  margin-top: 50px;
  margin-left: 320px;
  margin-right: auto;
}

#NewColorBucket {
  max-width: 400px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#NewColorBucket img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1100px) {
  :root {
    --scenery-margin-left: calc(var(--scenery-margin-left-mobile) - (1100px - 100vw)/2);
  }

  #ChangeScenery {
    margin-left: var(--scenery-margin-left);
  }

  #FlexBucket {
    margin-left: calc(20vw - 200px);
  }

  #NewColorBucket {
    min-width: calc(200px + (400 - 200) * (100vw - 700px) / (1100 - 700));
  }

  #flexBucketText1{
    margin-left: calc(20vw - 200px);
  }
}


@media (max-width: 600px) {
  #FlexBucket button {
    flex: 0 0 auto;
  }

  #NewColorBucket {
    width: 250px;
  }

  #FlexBucket {
    margin-left: -200px;
    flex-direction: column;
    bottom: 0px;
  }

  #flexBucketText1{
    display: flex;
    margin-left: 200px;
    flex-direction: column;
    justify-content: space-between;
    gap: 200px;
    margin-top: -180px;
  }

  #flexBucketText2{
    display: flex;
    margin-left: 210px;
    flex-direction: column;
    justify-content: space-between;
    gap: 220px;
    margin-top: -180px;
  }

  #flexBucketText3{
    display: flex;
    margin-left: 210px;
    flex-direction: column;
    justify-content: space-between;
    gap: 220px;
    margin-top: -180px;
  }

  #flexBucketText4{
    display: flex;
    margin-left: 210px;
    flex-direction: column;
    justify-content: space-between;
    gap: 220px;
    margin-top: -180px;
  }

  #flexBucketText5{
    display: flex;
    margin-left: 210px;
    flex-direction: column;
    justify-content: space-between;
    gap: 220px;
    margin-top: -180px;
  }
  
  #ChangeScenery {
    margin-top: 100px;
  }
}

@media (max-width: 390px) {
  #FlexBucket button {
    flex: 0 0 auto;
  }

  #NewColorBucket {
    min-width: 50px;
  }

  #FlexBucket {
    margin-left: calc(50vw - 250px);
    flex-direction: column;
    bottom: 0px;
  }

  #flexBucketText1{
    display: flex;
    margin-left: 200px;
    flex-direction: column;
    justify-content: space-between;
    gap: 200px;
    margin-top: -180px;
  }

  #flexBucketText2{
    display: flex;
    margin-left: 210px;
    flex-direction: column;
    justify-content: space-between;
    gap: 220px;
    margin-top: -180px;
  }

  #flexBucketText3{
    display: flex;
    margin-left: 210px;
    flex-direction: column;
    justify-content: space-between;
    gap: 220px;
    margin-top: -180px;
  }

  #flexBucketText4{
    display: flex;
    margin-left: 210px;
    flex-direction: column;
    justify-content: space-between;
    gap: 220px;
    margin-top: -180px;
  }

  #flexBucketText5{
    display: flex;
    margin-left: 210px;
    flex-direction: column;
    justify-content: space-between;
    gap: 220px;
    margin-top: -180px;
  }
  
  #ChangeScenery {
    margin-top: 100px;
  }
}


@media (max-width: 360px) {
  #FlexBucket button {
    flex: 0 0 auto;
  }

  #NewColorBucket {
    width: 150px;
  }

  #FlexBucket {
    margin-left: calc(50vw - 250px);
    flex-direction: column;
    bottom: 0px;
  }

  #flexBucketText1{
    display: flex;
    margin-left: 180px;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
    margin-top: -120px;
  }

  #flexBucketText2{
    display: flex;
    margin-left: 180px;
    flex-direction: column;
    justify-content: space-between;
    gap: 110px;
    margin-top: -120px;
  }

  #flexBucketText3{
    display: flex;
    margin-left: 180px;
    flex-direction: column;
    justify-content: space-between;
    gap: 110px;
    margin-top: -120px;
  }

  #flexBucketText4{
    display: flex;
    margin-left: 180px;
    flex-direction: column;
    justify-content: space-between;
    gap: 110px;
    margin-top: -120px;
  }

  #flexBucketText5{
    display: flex;
    margin-left: 180px;
    flex-direction: column;
    justify-content: space-between;
    gap: 110px;
    margin-top: -120px;
  }
  
  #ChangeScenery {
    margin-top: 100px;
  }
}
